.container {
  min-height: calc(100vh - 70px);
  background-color: black;
  background-color: #333745;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: padding 0.35s;
}
.container--shrink {
  padding-right: 400px;
}