.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
  max-width: 85%;
}
.header__container--active {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
}
.heading {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.heading:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 75%;
  background-color: white;
  transform: translateX(-50%);
}