.container {
  position: fixed;
  right: 0;
  height: calc(100% - 70px);
  width: 20%;
  min-width: 400px;
  max-width: 500px;
  background-color: #EEEEEE;
  border: 2px solid #212121;
  transform: translateX(100%);
  transition: all 0.35s;
}
.container--on {
  transform: translateX(0%);
}
.chat__container {
  width: 100%;
  height: 100%;
  transition: all 0.85s ease-in;
}
.chat__container--closed {
  visibility: hidden;
}
.chat__button {
  position: absolute;
  top: 50%;
  left: 0;
  height: 50px;
  width: 25px;
  color: #EEEEEE;
  background-color: rgba(0,0,0,0.6);
  border: 1px solid black;
  cursor: pointer;
  transform: translate(-100%, -50%);
  transition: all 0.1s ease-out;
}
.chat__button:hover, .chat__button:focus {
  color: white;
  background-color: rgba(0,0,0,0.4);
}
.chevron {
  color: white;
  font-size: 1.2rem;
  transition: all 0.35s;
}
.chevron--open {
  animation: rotateChevron 0.85s ease-in forwards;
}
.chevron--closed {
  animation: rotateChevron 0.85s ease-in forwards, clickMe 3.8s 1.7s infinite;
}
.hidden {
  display: none;
}
/*****
MEDIA QUERIES
*****/
@media(max-width: 1200px) {
  .container {
    min-width: 350px;
  }
}
@media(max-width: 1000px) {
  .container {
    min-width: 300px;
  }
}
@media(max-width: 600px) {
  .container {
    min-width: none;
    max-width: none;
    width: 100%;
    z-index: 1;
  }
}
@keyframes rotateChevron {
  0% {
    transform: rotateZ(0deg);
  }
  30% {
    transform: rotateZ(210deg);
  }
  60% {
    transform: rotateZ(160deg);
  }
  75% {
    transform: rotateZ(188deg);
  }
  90% {
    transform: rotateZ(175deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}
@keyframes clickMe {
  0% {
    transform: rotateZ(180deg);
  }
  72% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(210deg);
  }
  78% {
    transform: rotateZ(160deg);
  }
  82% {
    transform: rotateZ(188deg);
  }
  84% {
    transform: rotateZ(175deg);
  }
  100% {
    transform: rotate(180deg);
  }
}