.container__input {
  position: relative;
  overflow: hidden;
}
.container__input:hover .input {
  border: 2px solid #212121;
}
.label {
  align-self: flex-start;
  font-weight: bold;
}
.input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  padding-right: 60px;
  border: 2px solid #9E9E9E;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.1s ease-out;
}
.textarea {
  min-height: 40px;
  max-height: 104px;
  vertical-align: bottom;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  resize: none;
  transition: none;
}
.input__options {
  position: absolute;
  top: 50%;
  right: 0;
  height: calc(100% - 24px);
  transform: translate(100%, -50%);
  transition: all 0.1s ease-out;
}
.input__options--active {
  transform: translate(0%, -50%);
  transition: none;
}
.clear, .paste {
  height: 100%;
  padding: 9px;
  color: #9E9E9E;
  cursor: pointer;
  transition: all 0.1s ease-out;
}
.paste {
  border-left: 2px solid #9E9E9E;
}
.clear:hover, .paste:hover {
  color: #212121;
}
.clear:focus + .paste, .paste:focus {
  border-left: 2px solid #212121;
}
.clear:active, .paste:active {
  transform: translateY(2%);
}
.input:hover + .input__options, .input__options:hover {
  transform: translate(0%, -50%);
}
.input:hover + .input__options .paste {
  border-left: 2px solid #212121;
}
.input__options--active.move__scrollbar, 
.input:hover + .input__options.move__scrollbar, 
.input__options.move__scrollbar:hover {
  transform: translate(-30%, -50%);
}