/* .videos {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  margin-top: 15px;
} */
.videos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.error {
  color: white;
}
.loading {
  color: white;
}