.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 2px solid #212121;
  padding: 5px;
  padding-bottom: 10px;
  width: 100%;
  flex: none;
  background-color: #5C9EAD;
  color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.chat__header {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 100px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 2em;
  padding-left: 2em;
  text-decoration: underline;
  overflow: hidden;
  text-align: center;
}
.chat__online {
  align-self: flex-start;
}