.container {
  background-color: black;
  margin: 15px;
  border: 3px solid #1A659E;
  border-radius: 5px;
  color: white;
  min-width: 300px;
  min-height: 169px;
}
.speaking {
  border: 3px solid #C7EFCF;
}
.muted {
  border: 3px solid #DA3E52;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 5px solid transparent; */
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.video {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
.video--fullscreen {
  max-height: none;
  height: 100%;
}
.identicon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}