.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 2px solid #212121;
}
.input__container {
  flex: 0.75;
  margin-left: 15px;
  margin-right: 5px;
}
.input__container label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.controls__container {
  display: flex;
  justify-content: space-around;
  flex: 0.25;
}
.emoji__container {
  position: relative;
  margin-right: 5px;
}
.emoji__button {
  cursor: pointer;
  transition: all 0.15s ease;
}
.emoji__button:hover, .emoji__button:focus {
  transform: scale(1.1);
}
.emoji__mart {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-95%, -105%);
}
.send__button {
  cursor: pointer;
  font-size: 18px;
}

/*** 
  EMOJI MART CUSTOM CSS 
***/

:global(.emoji-mart) {
  width: 300px !important;
}
:global(.emoji-mart-title-label) {
  font-size: 16px !important;
}
:global(.emoji-mart-emoji) {
  cursor: pointer !important;
}
:global(.emoji-mart-emoji) > span {
  cursor: pointer !important;
}