.video__tray {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 80%;
}
.formDisplayName {
  max-width: 35%;
  margin: 0;
  margin-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.formDisplayName--active {
  position: relative;
  max-width: 45%;
  padding-left: 5px;
  padding-right: 20px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.8);
}
.displayname {
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  font-size: 1.2em;
  padding: 5px 10px;
  margin: 20px 0;
  color: white;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 1;
}
.displayname:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: -1;
}
.displayName--disabled {
  cursor: auto;
}
.controls__tray {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  position: absolute;
  width: 50%;
  width: 100%;
  pointer-events: none;
  transform: translateY(270%);
  min-height: calc(1.2rem + 7px);
  transition: all 0.35s;
}
video[data-video-stream="video-stream"]:hover + .video__tray .controls__tray {
  transform: translateY(0);
}
div[data-video-stream="video-stream"]:hover + .video__tray .controls__tray {
  transform: translateY(0);
}
.video__tray:hover .controls__tray {
  transform: translateY(0);
}
.controls__tray--active {
  transform: translateY(0);
  transition: none;
}
.disconnect__container {
  position: absolute;
  width: 100%;
  max-width: 750px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.disconnect__button {
  background-color: #DA3E52;
  border-radius: 100%;
  border: 2px solid #212121;
  min-width: auto;
  height: 0px;
  width: var(--disconnect__width);
  pointer-events: all;
}
.disconnect__button.disconnect__button__padding {
  padding-top: calc((var(--disconnect__width) / 2) - 2px);
  padding-bottom: calc((var(--disconnect__width) / 2) - 2px);
}
.disconnect__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.button--stop {
  color: #DA3E52;
}
.volume__controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-width: 45px;
  bottom: -25px;
  right: 25px;
  margin: 20px 0;
  padding: 6px 0px;
  padding-top: 2px;
  font-size: 1.1rem;
  overflow: hidden;
  pointer-events: all;
  transition: all 0.18s ease;
}
.volume__controls:hover {
  padding-top: 150px;
}
.volume__controls--focus {
  padding-top: 150px;
}
.slider {
  position: absolute;
  width: 200%;
  transform: rotate(-90deg) translateX(65%);
  transition: all 0.35s;
}
.volume__button {
  color: #EEEEEE;
  cursor: pointer;
  transition: all 0.08s ease;
}
.volume__controls:hover .volume__button {
  color: white;
  transform: scale(1.1);
}
.volume__button:focus {
  color: white;
  transform: scale(1.1);
}
.volume {
  font-size: 1.2em;
}
.controls__icon {
  font-size: var(--controls__size);
}
.hidden {
  display: none;
}