.control__button {
  min-width: 30px;
  padding: 2px;
  font-size: 1.2rem;
  color: #EEEEEE;
  cursor: pointer;
  pointer-events: all;
  transition: all 0.08s ease;
}
.control__button:hover {
  color: white;
  transform: scale(1.1);
}
.control__button:focus {
  color: white;
  transform: scale(1.1);
}