html {
  font-size: 16px;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 2.3em;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}
h2 {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}
a {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}
p {
  margin: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}
label {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}
input {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}
/* input[type=range]::-webkit-slider-thumb, 
input[type=range]::-moz-range-thumb, 
input[type=range]::-ms-thumb, 
input[type=range]::-webkit-slider-runnable-track, 
input[type=range]::-moz-range-track, 
input[type=range]::-ms-track {
  cursor: pointer;
} */
input[type=range]::-webkit-slider-thumb {
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
}
input[type=range]::-moz-range-track {
  cursor: pointer;
}
input[type=range]::-ms-track {
  cursor: pointer;
}
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-transform: none;
  background: none;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}