.edit {
  position: absolute;
  right: -5px;
  bottom: 5px;
  cursor: pointer;
  color: #EEEEEE;
  transition: color 0.1s ease-out;
}
.edit:hover {
  color: white;
}
.edit--active {
  right: 0;
  bottom: 10px;
}
.hidden {
  display: none;
}